button {
  background-color: brown;
  border: 1px solid orange;
  width: 150px;
  color: white;
  font-size: 0.7em;
  cursor: pointer;
}

button:hover {
  border: 1px dotted orange; 
}

button:disabled {
  background-color: darkgrey; 
  border: 1px solid white;
}

p {
  color: white;
}

.hidden {
  display: none;
}

#game-container {
  position: relative;
  width: 960px;
  height: 540px;

  font-family: Arial;
  font-size: 20px;
  color: limegreen;

  text-align: center;
}

#html-layer {
  position: absolute;
  top: 0;
  left: 0;
}

#pixi-canvas {
  position: absolute;
  top: 0;
  left: 0;  
}

#html-layer > * {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 540px;

  pointer-events: none;
}

#html-layer input, button, label, a, select {
  pointer-events: auto;
}


#add-shape {
  position: absolute;
    top: 170px;
    right: 10px;    
}

#done-adding {
  position: absolute;
  top: 420px;
  right: 10px;    
}


#gallery-instructions {
  position: absolute;
  top: -5px;
  width: 100%;
}

#done-selection {
  position: absolute;
  left: 400px;
  bottom: 10px;
}

.bottom-text {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.highlight {
  color: limegreen;
}

.code {
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.7em;
  font-family: monospace;
  color: white;
}

#modal-confirm-done {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}

#modal-confirm-box {
  position: absolute;
  width: 320px;
  height: 110px;
  top: 25%;
  left: 25%;
  padding: 57px;
  
  background-color: white;
}

#modal-confirm-box p {
  color: black;
}

#modal-confirm-cancel-button {
  font-size: 0.7em;
  margin-top: -5px;
  width: 150px;
  background-color: grey;
  color: white;
}

#end-early-message {
  text-align: right;
  margin-right: 10px;
  margin-top: 450px;
  color: orange;
}

/*

#gameContent {
  color: white;
  font-family: Arial;
  font-size: 20px;
}

a {
    color: limegreen;
    font-weight: bold;
}

#gameContent input, button {
  color: black;
  font-family: Arial;
  font-size: 20px;
}

#wrap {
    margin-top: 50px;  
    margin-bottom: 100px;  
    margin-right: 120px;  
    margin-left: 120px;  
}

.id {
    text-align: right;
    font-size: small;
}

.title {
    color: lawngreen;
}

h1{
    font-size: 1.5em;
    text-align: center;
}

h2{
    font-size: 1.0em;
    color:lawngreen;
}

h3{
    color: lawngreen;
    text-align: center;
    font-size: 1.5em;
}

h4{
    color: lawngreen;
    text-align: center;
    font-size: 1em;
   
}

h5{
    font-style: italic;
    text-align: center;
    color: orange;
}

.InputField{
    width: 100px;
    border: 2px solid lawngreen;

    background-color: white;

    padding-left:  10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.InputField:hover {
    border: 2px dotted orange;
}

input, select, InputField {
    color: red;
}

.RedButton{
    background-color: #B22222;
    border: 1px solid orange;
    color:white;
}

.RedButton:hover{
    border: 1px dotted orange; 
}

.infos{
    float: none;
    text-align: center;
    margin-top: 460px;
    font-size: 0.8em;
}

#wrapDone{
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
}

#done{
   text-align: right;
   margin-right: 10px;
}

.doneButton{
    background-color: brown;
    border: 1px solid orange;
    color:white;
    font-size: 0.7em;
    margin-top: -5px;
    width: 150px;
}

.doneButton:hover{
    border: 1px dotted orange; 
}

.doneButton:disabled{
    background-color: darkgrey; 
    border: 1px solid white;
}

#please{
    padding-left: 28px;
    margin-top: -5px;
}

#done2{
    position: absolute;
    top: 420px;
    width: 100%;
    text-align: center;
}

#previous-page-button {
    position: absolute;
    top: 475px;
    left: 10px;
}

#next-page-button {
    position: absolute;
    top: 475px;
    right: 10px;
}
    
#done2Button{
    margin-top: -20px;
}

#thanks-wrap-top {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    font-size: 18px;
}

#thanks-wrap-bottom {
    position: absolute;
    width: 860px;
    top: 220px;
    margin-left: 50px;

    text-align: center;
    font-size: 18px;
}

.highlight {
    color: lawngreen;
}

#tutorialWrap {
    text-align: center;
    margin-top: 50px;
}

#tutorialWrap .addShapeButton {
    position: absolute;
    top: 170px;
    right: 10px;
}

#tutorialWrap .bottom-text {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.long-text {
    width: 100%;
    height: 200px;
    border: 2px lawngreen solid;
    padding: 0 10px 0 10px;
    
    pointer-events: all;
    overflow: scroll;
}

.long-survey {
    width: 100%;
    height: 280px;
    border: 2px lawngreen solid;
    padding: 0 10px 0 10px;
    
    pointer-events: all;
    overflow: scroll;
}

textarea {
    width: 100%;
}

.link {
    pointer-events: auto;
    color: limegreen;
    text-decoration: underline;
    cursor: pointer;
}

#consent-form {
    margin-top: 20px;  
    margin-bottom: 100px;  
    margin-right: 120px;  
    margin-left: 120px;  
}

.center {
    text-align: center;
}

#end-early-message {
    text-align: right;
    margin-right: 10px;
    color: orange;
}

#modal-confirm-done {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

#modal-confirm-box {
    position: absolute;
    width: 320px;
    height: 110px;
    top: 25%;
    left: 25%;
    padding: 57px;
    
    background-color: white;
    color: black;
}

.cancel-button {
    font-size: 0.7em;
    margin-top: -5px;
    width: 150px;
    background-color: grey;
    color: white;
}

*/