#game-container {
	position: relative;
	width: 960px;
	height: 540px;
}

#html-layer {
	position: absolute;
	top: 0;
	left: 0;
}

#pixi-canvas {
	position: absolute;
	top: 0;
	left: 0;	
}

#html-layer > * {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

h1 { color: green; }
